.browse-search
  width: 500px
  min-height: 450px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -250px
  margin-top: -225px
  & p
    text-align: center
    margin-top: 70px
    font-size: 1.5rem

.browse-search-input
  width: 350px
  margin-left: 75px
  & input
    border-color: #464646
  & input:focus
    border-color: #02AAB0

.browse-buttons
  margin: 70px auto 0 auto
  display: flex
  width: 275px
  justify-content: space-around

.button-login
  border-color: #464646 !important
  &:hover
    box-shadow: none !important
    border-color: #1693A5 !important
.button-signup
  border-color: #1693A5 !important
  background-color: #1693A5 !important
  &:hover
    box-shadow: 0px 0px 0px 2px #1693A5 !important

.grommetux-drop
  max-height: 300px !important
