.header-link
  cursor: pointer
  transition: all 200ms ease-out
  margin-right: 20px
  &:hover
    color: #e64d41

.header-title
  margin-left: 20px
  & span
    line-height: 72px

.header-split
  cursor: default
  margin-right: 15px

.user-profile
  margin-right: 20px
